fastapi
uvicorn
cryptography
pyopenssl
httpx
python-dotenv
python-multipart
sqlalchemy
asyncpg
passlib
psycopg2-binary 
alembic
pydantic-settings
pydantic[email]
cachetools
python-jose[cryptography]
authlib
stripe
itsdangerous
livekit
livekit-api
livekit-agents[deepgram,openai,cartesia,silero,turn-detector]
livekit-plugins-noise-cancellation